![title](images/diverse_audience.jpg)

# Microsoft Movie Analysis

**Author:** Kimberly Dickson
***

## Overview
This research has been developed to help Microsoft determine the profitability of entering the movie industry.  The goal is to perform an EDA (Exploratory Data Analysis) model for predicting the "Profit".  The bases will be comparing the audience by generation to identify the movie releases that made the most revenue.  The analysis will consist of the budget, the ratings, and the genre for each movie.  This analysis is to get a sense of how movie tastes differ by age.

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sqlite3

import random

from IPython.display import Image 

from matplotlib.pyplot import show,figure,subplot
from matplotlib import dates as dates

In [138]:
bon_movie_gross = pd.read_csv('data/zippedData/bom.movie_gross.csv.gz')
imdb_name = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz')
imdb_title_akas = pd.read_csv('data/zippedData/imdb.title.akas.csv.gz')
imdb_title_basics = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
imdb_title_ratings = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz')
rotten_tomatoes_movies = pd.read_csv('data/zippedData/rotten_tomatoes_movies.csv.gz')
tmdb_movies = pd.read_csv('data/zippedData/tmdb.movies.csv.gz')
tn_movie_budgets  = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz')
IMDB_ratings = pd.read_csv('data/zippedData/IMDB_ratings.csv.zip')

In [143]:
bon_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [45]:

df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [46]:
df.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [47]:
df.sample(20)

,title,studio,domestic_gross,foreign_gross,year
1083,Vulgaria,CL,59100.0,NaN,2012
3147,Robin Hood (2018),LG/S,30800000.0,54000000,2018
2691,We Are X,Drft.,45300.0,NaN,2016
337,Cars 2,BV,191500000.0,370700000,2011
81,Easy A,SGem,58400000.0,16600000,2010
63,Aftershock (Tangshan Dadizhen),CL,63000.0,100200000,2010
2844,The Nut Job 2: Nutty by Nature,ORF,28400000.0,36800000,2017
211,Frozen (2010),Anch.,246000.0,2900000,2010
1137,The Croods,Fox,187200000.0,400000000,2013
3306,Vertigo (60th Anniversary),Fathom,394000.0,NaN,2018
2355,Assassin's Creed,Fox,54600000.0,186300000,2016
815,The Watch,Fox,35400000.0,32900000,2012
49,The Wolfman,Uni.,62000000.0,77800000,2010
445,The Roommate,SGem,37300000.0,3200000,2011
3212,Beautiful Boy (2018),Amazon,7600000.0,8700000,2018
1071,Goodbye First Love,IFC,95000.0,NaN,2012
1593,The Gambler,Par.,33700000.0,5600000,2014
102,Daybreakers,LGF,30100000.0,21300000,2010
1905,Alvin and the Chipmunks: The Road Chip,Fox,85900000.0,148900000,2015
2962,A Quiet Passion,MBox,1900000.0,NaN,2017

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [49]:
np.round(df.describe())

       domestic_gross    year
count          3359.0  3387.0
mean       28745845.0  2014.0
std        66982498.0     2.0
min             100.0  2010.0
25%          120000.0  2012.0
50%         1400000.0  2014.0
75%        27900000.0  2016.0
max       936700000.0  2018.0

In [50]:
df.shape

(3387, 5)

In [51]:
df.isnull().any()

title             False
studio             True
domestic_gross     True
foreign_gross      True
year              False
dtype: bool

In [52]:
df.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [53]:
df.dropna(subset=['studio', 'domestic_gross'], inplace=True)

In [54]:
df.isnull().sum()

title                0
studio               0
domestic_gross       0
foreign_gross     1349
year                 0
dtype: int64

In [55]:
df.drop(columns='foreign_gross')

,title,studio,domestic_gross,year
0,Toy Story 3,BV,415000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,2010
3,Inception,WB,292600000.0,2010
4,Shrek Forever After,P/DW,238700000.0,2010
...,...,...,...,...
3382,The Quake,Magn.,6200.0,2018
3383,Edward II (2018 re-release),FM,4800.0,2018
3384,El Pacto,Sony,2500.0,2018
3385,The Swan,Synergetic,2400.0,2018
3386,An Actor Prepares,Grav.,1700.0,2018

In [56]:
duplicates = df[df.duplicated()]
print(len(duplicates))

0

In [136]:
df_bm = df_bm.rename(columns = {'title': 'movie_title'})

In [137]:
df_bm

,movie_title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [128]:
df_title_akas = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\imdb.title.akas.csv.gz')   
print (df_title_akas)

         title_id  ordering                                    title region  \
0       tt0369610        10                            Джурасик свят     BG
1       tt0369610        11                        Jurashikku warudo     JP
2       tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
3       tt0369610        13                  O Mundo dos Dinossauros     BR
4       tt0369610        14                           Jurassic World     FR
...           ...       ...                                      ...    ...
331698  tt9827784         2                       Sayonara kuchibiru    NaN
331699  tt9827784         3                            Farewell Song    XWW
331700  tt9880178         1                              La atención    NaN
331701  tt9880178         2                              La atención     ES
331702  tt9880178         3                            The Attention    XWW

       language        types   attributes  is_original_title
0            bg          NaN          NaN                0.0
1           NaN  imdbDisplay          NaN                0.0
2           NaN  imdbDisplay          NaN                0.0
3           NaN          NaN  short title                0.0
4           NaN  imdbDisplay          NaN                0.0
...         ...          ...          ...                ...
331698      NaN     original          NaN                1.0
331699       en  imdbDisplay          NaN                0.0
331700      NaN     original          NaN                1.0
331701      NaN          NaN          NaN                0.0
331702       en  imdbDisplay          NaN                0.0

[331703 rows x 8 columns]

In [58]:
df.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [60]:
df.tail()

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [61]:
df.sample(20)

,title_id,ordering,title,region,language,types,attributes,is_original_title
198262,tt3325282,2,Agents of Change,NaN,NaN,original,NaN,1.0
194962,tt6293042,2,Outrage Final Chapter,JP,NaN,alternative,NaN,0.0
57716,tt1809214,3,"5-5-5, everything is coming",US,NaN,NaN,reissue title,0.0
99102,tt2328727,5,Ein Weihnachtsbaum Wunder,DE,NaN,imdbDisplay,NaN,0.0
213870,tt2594952,2,The Sea,SE,NaN,imdbDisplay,NaN,0.0
259132,tt7390216,2,The Lust for Power,XWW,NaN,alternative,NaN,0.0
277425,tt6215588,1,Negaar,IR,fa,NaN,alternative spelling,0.0
147588,tt1937090,1,All we ever wanted,NL,NaN,NaN,NaN,0.0
214847,tt4365412,5,Filip & Fredrik presenterar Trevligt folk,NaN,NaN,original,NaN,1.0
180567,tt4218696,1,O Muro,PT,NaN,imdbDisplay,NaN,0.0
120118,tt1790809,24,Piratas das Caraíbas: Homens Mortos Não Contam...,PT,NaN,imdbDisplay,NaN,0.0
130124,tt1311075,17,Il responsabile delle risorse umane,IT,NaN,imdbDisplay,NaN,0.0
264836,tt5711148,14,Estrelas de Cinema Nunca Morrem,BR,NaN,imdbDisplay,NaN,0.0
7151,tt1945106,2,Merah Putih III,ID,id,NaN,informal title,0.0
85586,tt2412766,1,Beware of the Dogs,US,NaN,NaN,NaN,0.0
220005,tt4555426,18,Най-мрачният час,BG,bg,NaN,NaN,0.0
175495,tt5215998,1,I Had Fun Movie,US,NaN,NaN,NaN,0.0
253680,tt5253294,3,Жмот,UA,NaN,NaN,NaN,0.0
69026,tt1984110,1,Среди друзей,RU,NaN,NaN,NaN,0.0
186409,tt5931144,1,Bobby Sands: 66 Days,IE,NaN,NaN,NaN,0.0

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

In [63]:
np.round(df.describe())

       ordering  is_original_title
count  331703.0           331678.0
mean        5.0                0.0
std         7.0                0.0
min         1.0                0.0
25%         1.0                0.0
50%         2.0                0.0
75%         6.0                0.0
max        61.0                1.0

In [64]:
df.shape

(331703, 8)

In [65]:
df.isnull().any()

title_id             False
ordering             False
title                False
region                True
language              True
types                 True
attributes            True
is_original_title     True
dtype: bool

In [66]:
df.isnull().sum()

title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

In [67]:
df['is_original_title'].fillna(0,inplace=True)

In [68]:
df.isnull().sum()

title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title         0
dtype: int64

In [129]:
df_title_basics = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\imdb.title.basics.csv.gz')   
print (df_title_basics)

           tconst                                primary_title  \
0       tt0063540                                    Sunghursh
1       tt0066787              One Day Before the Rainy Season
2       tt0069049                   The Other Side of the Wind
3       tt0069204                              Sabse Bada Sukh
4       tt0100275                     The Wandering Soap Opera
...           ...                                          ...
146139  tt9916538                          Kuambil Lagi Hatiku
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
146141  tt9916706                              Dankyavar Danka
146142  tt9916730                                       6 Gunn
146143  tt9916754               Chico Albuquerque - Revelações

                                     original_title  start_year  \
0                                         Sunghursh        2013
1                                   Ashad Ka Ek Din        2019
2                        The Other Side of the Wind        2018
3                                   Sabse Bada Sukh        2018
4                             La Telenovela Errante        2017
...                                             ...         ...
146139                          Kuambil Lagi Hatiku        2019
146140  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
146141                              Dankyavar Danka        2013
146142                                       6 Gunn        2017
146143               Chico Albuquerque - Revelações        2013

        runtime_minutes                genres
0                 175.0    Action,Crime,Drama
1                 114.0       Biography,Drama
2                 122.0                 Drama
3                   NaN          Comedy,Drama
4                  80.0  Comedy,Drama,Fantasy
...                 ...                   ...
146139            123.0                 Drama
146140              NaN           Documentary
146141              NaN                Comedy
146142            116.0                   NaN
146143              NaN           Documentary

[146144 rows x 6 columns]

In [70]:
df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [71]:
df.tail()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [72]:
df.sample(20)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
143515,tt9537246,Ubermensch 2: Wille zur Macht,Ubermensch 2: Wille zur Macht,2019,NaN,Sci-Fi
110469,tt6449608,Nouvelles Aventures De Capelito,Nouvelles Aventures De Capelito,2013,NaN,NaN
128301,tt7886904,Premika,Premika,2017,149.0,"Action,Drama,Romance"
29979,tt2145909,The Forgotten,The Forgotten,2014,89.0,Horror
44724,tt2653132,Aji noh motor,Aji noh motor,2012,86.0,Comedy
108818,tt6392142,Kings of Baxter,Kings of Baxter,2017,66.0,Documentary
26531,tt2057453,Perceiving Reality: The Making of Scalene,Perceiving Reality: The Making of Scalene,2011,210.0,Documentary
13473,tt1688070,Mon pote,Mon pote,2010,105.0,"Comedy,Crime,Drama"
24779,tt1995474,The Wingman,The Wingman,2012,87.0,Comedy
15435,tt1737156,Dui Prithibi,Dui Prithibi,2010,150.0,Drama
1060,tt10078764,Cho Em Dên Ngày Mai,Cho Em Dên Ngày Mai,2016,100.0,"Comedy,Drama,Romance"
114982,tt6811682,Quickie,Quickie,2018,105.0,Comedy
134012,tt8426088,T B D,T B D,2018,46.0,Documentary
18263,tt1807064,"Vsyo v poryadke, mama!","Vsyo v poryadke, mama!",2010,NaN,Drama
10019,tt1584923,Brute Force,Brute Force,2012,NaN,"Documentary,Music"
133413,tt8368294,The Sound of Philadelphia,The Sound of Philadelphia,2020,NaN,"Action,Crime,Drama"
135665,tt8608822,Andílci za skolou,Andílci za skolou,2019,NaN,"Comedy,Family,Musical"
14091,tt1706414,The Edge,Kray,2010,124.0,"Adventure,Drama,History"
73320,tt4176984,Love or Death,Ljubav ili smrt,2014,95.0,Family
117164,tt6977470,Mayday,Mayday,2018,NaN,"Action,Drama"

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [74]:
np.round(df.describe())

       start_year  runtime_minutes
count    146144.0         114405.0
mean       2015.0             86.0
std           3.0            166.0
min        2010.0              1.0
25%        2012.0             70.0
50%        2015.0             87.0
75%        2017.0             99.0
max        2115.0          51420.0

In [75]:
df.shape

(146144, 6)

In [76]:
df.isnull().any()

tconst             False
primary_title      False
original_title      True
start_year         False
runtime_minutes     True
genres              True
dtype: bool

In [77]:
df.isnull().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [78]:
df.isnull().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [130]:
df_title_ratings = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\imdb.title.ratings.csv.gz')   
print (df_title_ratings)

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [80]:
df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [81]:
df.tail()

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

In [82]:
df.sample(20)

          tconst  averagerating  numvotes
92     tt1512098            5.9        33
21176  tt8457792            6.1        79
1102   tt1832894            8.1        13
38884  tt3508984            4.8        30
73482  tt3704416            5.8      5054
49981  tt2841672            7.2         6
19395  tt7401070            8.0        23
65118  tt1946507            6.5        22
54385  tt5005496            5.2       103
59298  tt1331087            3.7        22
48727  tt4034112            7.5        20
71435  tt1441953            7.3     23632
31159  tt3924774            4.0       126
25523  tt7968976            7.0       127
68684  tt5922104            7.9        34
66995  tt2922264            7.3        10
4443   tt7638344            4.5      8082
8738   tt1345836            8.4   1387769
8421   tt5735554            4.0        38
1133   tt1867521            6.4        19

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [84]:
np.round(df.describe())

       averagerating   numvotes
count        73856.0    73856.0
mean             6.0     3524.0
std              1.0    30294.0
min              1.0        5.0
25%              6.0       14.0
50%              6.0       49.0
75%              7.0      282.0
max             10.0  1841066.0

In [85]:
df.shape

(73856, 3)

In [86]:
df.isnull().any()

tconst           False
averagerating    False
numvotes         False
dtype: bool

In [87]:
df.isnull().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [131]:
df_rotten_movies = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\rotten_tomatoes_movies.csv.gz')   
print (df_rotten_movies)

                        rotten_tomatoes_link  \
0                                  m/0814255
1                                  m/0878835
2                                       m/10
3                     m/1000013-12_angry_men
4      m/1000079-20000_leagues_under_the_sea
...                                      ...
17707                            m/zoot_suit
17708                             m/zootopia
17709                      m/zorba_the_greek
17710                                 m/zulu
17711                            m/zulu_dawn

                                             movie_title  \
0      Percy Jackson & the Olympians: The Lightning T...
1                                            Please Give
2                                                     10
3                        12 Angry Men (Twelve Angry Men)
4                           20,000 Leagues Under The Sea
...                                                  ...
17707                                          Zoot Suit
17708                                           Zootopia
17709                                    Zorba the Greek
17710                                               Zulu
17711                                          Zulu Dawn

                                              movie_info  \
0      Always trouble-prone, the life of teenager Per...
1      Kate (Catherine Keener) and her husband Alex (...
2      A successful, middle-aged Hollywood songwriter...
3      Following the closing arguments in a murder tr...
4      In 1866, Professor Pierre M. Aronnax (Paul Luk...
...                                                  ...
17707  Mexican-American gangster Henry Reyna (Daniel ...
17708  From the largest elephant to the smallest shre...
17709  Traveling to inspect an abandoned mine his fat...
17710  In 1879, the Zulu nation hands colonial Britis...
17711  Sir Henry Bartle Frere's (John Mills) vastly o...

                                       critics_consensus content_rating  \
0      Though it may seem like just another Harry Pot...             PG
1      Nicole Holofcener's newest might seem slight i...              R
2      Blake Edwards' bawdy comedy may not score a pe...              R
3      Sidney Lumet's feature debut is a superbly wri...             NR
4      One of Disney's finest live-action adventures,...              G
...                                                  ...            ...
17707                                                NaN              R
17708  The brilliantly well-rounded Zootopia offers a...             PG
17709                                                NaN             NR
17710  Zulu patiently establishes a cast of colorful ...             PG
17711                                                NaN             PG

                                                  genres  \
0      Action & Adventure, Comedy, Drama, Science Fic...
1                                                 Comedy
2                                        Comedy, Romance
3                                        Classics, Drama
4               Action & Adventure, Drama, Kids & Family
...                                                  ...
17707                   Drama, Musical & Performing Arts
17708              Action & Adventure, Animation, Comedy
17709  Action & Adventure, Art House & International,...
17710                                    Classics, Drama
17711  Action & Adventure, Art House & International,...

                                  directors  \
0                            Chris Columbus
1                         Nicole Holofcener
2                             Blake Edwards
3                              Sidney Lumet
4                         Richard Fleischer
...                                     ...
17707                           Luis Valdez
17708  Byron Howard, Rich Moore, Jared Bush
17709                                   NaN
17710           Cy Endfield, Cyril Endfield
17711                        Douglas Hickox

                                          authors  \
0      Craig Titley, Chris Columbus, Rick Riordan
1                               Nicole Holofcener
2                                   Blake Edwards
3                                   Reginald Rose
4                                     Earl Felton
...                                           ...
17707                                 Luis Valdez
17708                   Jared Bush, Phil Johnston
17709                                         NaN
17710                   Cy Endfield, John Prebble
17711                 Cy Endfield, Anthony Storey

                                                  actors  \
0      Logan Lerman, Brandon T. Jackson, Alexandra Da...
1      Catherine Keener, Amanda Peet, Oliver Platt, R...
2      Dudley Moore, Bo Derek, Julie Andrews, Robert ...
3      Martin Balsam, John Fiedler, Lee J. Cobb, E.G....
4      James Mason, Kirk Douglas, Paul Lukas, Peter L...
...                                                  ...
17707  Daniel Valdez, Edward James Olmos, Charles Aid...
17708  J.K. Simmons, Kristen Bell, Octavia Spencer, A...
17709  Anthony Quinn, Alan Bates, Irene Papas, Lila K...
17710  Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...
17711  Burt Lancaster, Peter O'Toole, Simon Ward, Joh...

      original_release_date  ...             production_company  \
0                2010-02-12  ...               20th Century Fox
1                2010-04-30  ...         Sony Pictures Classics
2                1979-10-05  ...                    Waner Bros.
3                1957-04-13  ...           Criterion Collection
4                1954-01-01  ...                         Disney
...                     ...  ...                            ...
17707            1981-10-02  ...       MCA Universal Home Video
17708            2016-03-04  ...  Walt Disney Animation Studios
17709            1964-12-17  ...                            Fox
17710            1964-06-17  ...             Paramount Pictures
17711            1979-12-14  ...            Tango Entertainment

       tomatometer_status tomatometer_rating tomatometer_count  \
0                  Rotten               49.0             149.0
1         Certified-Fresh               87.0             142.0
2                   Fresh               67.0              24.0
3         Certified-Fresh              100.0              54.0
4                   Fresh               89.0              27.0
...                   ...                ...               ...
17707              Rotten               56.0               9.0
17708     Certified-Fresh               98.0             291.0
17709               Fresh               80.0              10.0
17710               Fresh               96.0              23.0
17711              Rotten               50.0               8.0

       audience_status  audience_rating audience_count  \
0              Spilled             53.0       254421.0
1              Upright             64.0        11574.0
2              Spilled             53.0        14684.0
3              Upright             97.0       105386.0
4              Upright             74.0        68918.0
...                ...              ...            ...
17707          Upright             74.0         1195.0
17708          Upright             92.0       101511.0
17709          Upright             86.0         7146.0
17710          Upright             91.0        30193.0
17711          Upright             62.0         4469.0

       tomatometer_top_critics_count  tomatometer_fresh_critics_count  \
0                                 43                               73
1                                 44                              123
2                                  2                               16
3                                  6                               54
4                                  5                               24
...                              ...                              ...
17707                              2                                5
17708                             50                              285
17709                              0                                8
17710                              6                               22
17711                              0                                4

       tomatometer_rotten_critics_count
0                                    76
1                                    19
2                                     8
3                                     0
4                                     3
...                                 ...
17707                                 4
17708                                 7
17709                                 2
17710                                 1
17711                                 4

[17712 rows x 22 columns]

In [89]:
df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [90]:
df.tail()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [91]:
df.sample(20)

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
501,m/1010002-hound_of_the_baskervilles,The Hound of the Baskervilles,Sherlock Holmes (Basil Rathbone) is intrigued ...,NaN,NR,"Classics, Drama, Horror, Mystery & Suspense",Sidney Lanfield,Ernest Pascal,"Richard Greene, Basil Rathbone, Wendy Barrie, ...",1939-03-31,...,20th Century Fox,Fresh,91.0,11.0,Upright,83.0,6267.0,0,10,1
186,m/10009890-stone_angel,The Stone Angel,"Hagar (Ellen Burstyn) may be 90 years old, but...",Despite fine performances from Ellen Burstyn a...,R,Drama,Kari Skogland,Kari Skogland,"Ellen Burstyn, Ellen Page, Kevin Zegers, Dylan...",2007-09-12,...,Vivendi Entertainment,Rotten,44.0,25.0,Spilled,58.0,3026.0,11,11,14
11042,m/night_at_the_museum_secret_of_the_tomb,Night at the Museum: Secret of the Tomb,When the exhibits at New York's Natural Histor...,"While not without its moments, Night at the Mu...",PG,"Action & Adventure, Comedy",Shawn Levy,"Michael Handelman, David Guion","Ben Stiller, Robin Williams, Owen Wilson, Stev...",2014-12-19,...,20th Century Fox,Rotten,47.0,112.0,Spilled,57.0,100925.0,37,53,59
17401,m/willy_wonka_and_the_chocolate_factory,Willy Wonka and the Chocolate Factory,"The last of five coveted ""golden tickets"" fall...",Willy Wonka and the Chocolate Factory is stran...,G,"Classics, Comedy, Drama, Kids & Family, Musica...",Mel Stuart,"David Seltzer, Roald Dahl","Gene Wilder, Jack Albertson, Peter Ostrum, Mic...",1971-06-30,...,Paramount Pictures,Fresh,90.0,48.0,Upright,87.0,878002.0,4,43,5
1621,m/1188868-billy_the_kid,Billy the Kid,Filmmaker Jennifer Venditti follows a teenager...,"Jennifer Venditti's doc Billy the Kid turns ""s...",NR,"Documentary, Special Interest",Jennifer Venditti,NaN,Billy P.,2020-09-30,...,Oscilloscope Laboratories,Fresh,81.0,32.0,Upright,86.0,799.0,11,26,6
16299,m/tmnt_2007,TMNT,"Splinter, the rat sensei, senses something ami...","TMNT's art direction is splendid, but the plot...",PG,"Action & Adventure, Animation, Science Fiction...",Kevin Munroe,Kevin Munroe,"Chris Evans, Sarah Michelle Gellar, Mako, Patr...",2007-03-23,...,Warner Bros. Pictures,Rotten,35.0,120.0,Upright,60.0,368222.0,29,42,78
7479,m/happy_people_a_year_in_the_taiga,Happy People: A Year in the Taiga,Indigenous people on the Siberian Taiga live i...,Filled with breathtaking images of the forebod...,NR,"Art House & International, Documentary, Specia...","Werner Herzog, Dmitry Vasyukov","Rudolph Herzog, Werner Herzog",Werner Herzog,2013-01-25,...,Music Box Films,Certified-Fresh,88.0,49.0,Upright,77.0,2384.0,21,43,6
13786,m/star_trek_iii_the_search_for_spock,Star Trek III - The Search for Spock,Adm. James T. Kirk (William Shatner) has defea...,Though it may be short on dazzling special eff...,PG,"Action & Adventure, Science Fiction & Fantasy",Leonard Nimoy,Harve Bennett,"William Shatner, DeForest Kelley, James Doohan...",1984-06-01,...,Paramount Pictures,Certified-Fresh,79.0,48.0,Upright,61.0,64677.0,10,38,10
11399,m/opal_dream,Opal Dream,Australians Rex Williamson (Vince Colosimo) an...,Earnest performances and Peter Cattaneo's symp...,PG,"Drama, Kids & Family",Peter Cattaneo,"Peter Cattaneo, Ben Rice, Phil Traill, Ben Rice","Jacqueline McKenzie, Sapphire Boyce, Christian...",2006-11-22,...,Focus Features,Fresh,69.0,35.0,Upright,64.0,1533.0,13,24,11
10656,m/mr_arkadin,Mr. Arkadin,"Claiming that he doesn't know his own past, a ...",NaN,NR,"Classics, Drama, Mystery & Suspense",Orson Welles,Orson Welles,"Orson Welles, Michael Redgrave, Akim Tamiroff,...",1962-10-02,...,Warner Bros. Pictures,Fresh,74.0,27.0,Upright,81.0,2421.0,5,20,7
7831,m/home_from_the_hill,Home from the Hill,"For his entire life, Theron Hunnicut's (George...",NaN,NR,"Classics, Drama",Vincente Minnelli,"Irving Ravetch, Harriet Frank Jr. / Irving Rav...","Robert Mitchum, Eleanor Parker, George Peppard...",1960-05-19,...,Warner Home Video,Fresh,90.0,10.0,Upright,91.0,528.0,1,9,1
3603,m/bird-of-paradise,Bird of Paradise,When a young South Seas sailor falls overboard...,NaN,NR,"Action & Adventure, Classics, Drama, Romance",King Vidor,"Richard Walton Tully, Wells Root, Wanda Tuchoc...","Dolores Del Rio, Joel McCrea, Lon Chaney Jr, C...",1932-08-12,...,Kino Lorber,Rotten,53.0,15.0,Spilled,48.0,1828.0,5,8,7
2092,m/a_brony_tale,A Brony Tale,Filmmaker Brent Hodge gives an inside view of ...,NaN,NR,"Comedy, Documentary, Drama, Special Interest",Brent Hodge,Brent Hodge,"Ashleigh Ball, Mike Bernstein, Jordan Downs, P...",2014-07-08,...,Abramorama Entertainment,Fresh,80.0,10.0,Upright,71.0,377.0,0,8,2
5777,m/drones_2013,Drones,Two Air Force pilots in Nevada use an unmanned...,NaN,R,"Action & Adventure, Drama",Rick Rosenthal,Matt Witten,"Matt O'Leary, Eloise Mumford, Whip Hubley, Wil...",2014-06-27,...,Phase 4 Films,Rotten,33.0,6.0,Spilled,29.0,179.0,2,2,4
10127,m/marmaduke,Marmaduke,"With the help of his best feline friend, a lov...","Dull and unfunny, Marmaduke offers family film...",PG,"Comedy, Kids & Family",Tom Dey,"Tim Rasmussen, Vince Di Meglio","Owen Wilson, Emma Stone, George Lopez, Christo...",2010-06-04,...,20th Century Fox,Rotten,9.0,102.0,Spilled,42.0,78299.0,28,9,93
8546,m/ivory_tower,Ivory Tower,As tuition spirals upward and student debt pas...,Although Ivory Tower makes it clear that there...,PG-13,Documentary,Andrew Rossi,NaN,"David Boone, Clayton Christensen, Andrew Delba...",2014-06-13,...,Samuel Goldwyn Films,Certified-Fresh,83.0,52.0,Upright,78.0,1339.0,17,43,9
4529,m/childrens_hour,The Children's Hour,Longtime friends Martha (Shirley MacLaine) and...,NaN,G,"Classics, Drama",William Wyler,"John Michael Hayes, Lillian Hellman","Audrey Hepburn, Shirley MacLaine, James Garner...",1961-01-01,...,MGM Home Entertainment,Fresh,88.0,8.0,Upright,84.0,7225.0,0,7,1
17569,m/xoxo_2016,XOXO,The lives of six strangers collide during a fr...,NaN,NR,Comedy,Christopher Louie,Dylan Meyer,"Sarah Hyland, Graham Phillips, Brett DelBuono,...",NaN,...,Netflix,Fresh,71.0,7.0,Spilled,52.0,520.0,3,5,2
17354,m/wilby_conspiracy,The Wilby Conspiracy,English engineer Jim Keogh (Michael Caine) and...,NaN,PG,"Art House & International, Drama, Mystery & Su...",Ralph Nelson,"Rod Amateau, Rodney Amateau, Harold Nebenzal","Sidney Poitier, Michael Caine, Nicol Williamso...",1975-02-13,...,MGM Home Entertainment,Fresh,60.0,5.0,Spilled,44.0,1002.0,0,3,2
5970,m/elvira_mistress_of_the_dark,"Elvira, Mistress of the Dark",The cult-movie TV hostess (Phil Rubenstein) in...,NaN,PG-13,"Comedy, Horror, Mystery & Suspense, Science Fi...",James Signorelli,"Cassandra Peterson, John Paragon, Sam Egan","Cassandra Peterson, William Morgan Sheppard, D...",1988-09-30,...,New World Video,Rotten,50.0,20.0,Upright,65.0,10388.0,4,10,10

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [93]:
np.round(df.describe())

,runtime,tomatometer_rating,tomatometer_count,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
count,17398.0,17668.0,17668.0,17416.0,17415.0,17712.0,17712.0,17712.0
mean,102.0,61.0,57.0,61.0,143940.0,15.0,36.0,21.0
std,19.0,28.0,68.0,21.0,1763577.0,15.0,53.0,30.0
min,5.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0
25%,90.0,38.0,12.0,45.0,708.0,3.0,6.0,3.0
50%,99.0,67.0,28.0,63.0,4277.0,8.0,16.0,8.0
75%,111.0,86.0,75.0,78.0,24988.0,23.0,44.0,24.0
max,266.0,100.0,574.0,100.0,35797635.0,69.0,497.0,303.0

In [94]:
df.shape

(17712, 22)

In [95]:
df.isnull().any()

rotten_tomatoes_link                False
movie_title                         False
movie_info                           True
critics_consensus                    True
content_rating                      False
genres                               True
directors                            True
authors                              True
actors                               True
original_release_date                True
streaming_release_date               True
runtime                              True
production_company                   True
tomatometer_status                   True
tomatometer_rating                   True
tomatometer_count                    True
audience_status                      True
audience_rating                      True
audience_count                       True
tomatometer_top_critics_count       False
tomatometer_fresh_critics_count     False
tomatometer_rotten_critics_count    False
dtype: bool

In [96]:
df.isnull().sum()

rotten_tomatoes_link                   0
movie_title                            0
movie_info                           321
critics_consensus                   8578
content_rating                         0
genres                                19
directors                            194
authors                             1542
actors                               352
original_release_date               1166
streaming_release_date               384
runtime                              314
production_company                   499
tomatometer_status                    44
tomatometer_rating                    44
tomatometer_count                     44
audience_status                      448
audience_rating                      296
audience_count                       297
tomatometer_top_critics_count          0
tomatometer_fresh_critics_count        0
tomatometer_rotten_critics_count       0
dtype: int64

In [132]:
df_tmdb_movies = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\tmdb.movies.csv.gz')   
print (df_tmdb_movies)

                 genre_ids      id original_language  \
0          [12, 14, 10751]   12444                en
1      [14, 12, 16, 10751]   10191                en
2            [12, 28, 878]   10138                en
3          [16, 35, 10751]     862                en
4            [28, 878, 12]   27205                en
...                    ...     ...               ...
26512             [27, 18]  488143                en
26513             [18, 53]  485975                en
26514         [14, 28, 12]  381231                en
26515      [10751, 12, 28]  366854                en
26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 9 columns]

In [98]:
df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [99]:
df.tail()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

In [100]:
df.sample(20)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26283,[],499850,en,Bellator 192: Lima Vs. Macdonald,0.600,2018-01-20,Bellator 192: Lima Vs. Macdonald,9.0,1
14599,"[27, 14]",334028,en,Some Kind of Hate,6.557,2015-05-02,Some Kind of Hate,4.6,67
4757,"[27, 18]",300608,en,Exit,0.600,2011-09-24,Exit,6.0,1
23704,[28],476020,en,The Danger Element,0.600,2017-08-01,The Danger Element,4.0,2
20183,"[99, 10402]",381083,en,Gary Numan: Android In La La Land,0.600,2016-03-14,Gary Numan: Android In La La Land,7.0,3
8620,[35],251266,en,Sex After Kids,3.073,2013-01-26,Sex After Kids,5.3,16
7400,[99],94885,en,Just Like Being There,0.600,2012-03-09,Just Like Being There,6.3,4
4195,"[35, 18, 9648]",54598,en,Septien,0.759,2011-07-06,Septien,6.1,4
7287,[99],296209,en,Overdraft,0.600,2012-01-01,Overdraft,7.0,1
3031,"[18, 53]",50875,en,Higher Ground,4.545,2011-08-26,Higher Ground,5.9,21
21908,"[10749, 35, 10770]",437516,en,While You Were Dating,1.960,2017-02-12,While You Were Dating,4.7,6
17744,[35],352186,en,Good Kids,7.722,2016-10-21,Good Kids,6.4,149
10483,[],227476,en,American Girls,0.600,2013-10-11,American Girls,6.0,1
23749,"[27, 27]",446378,en,It Began Without Warning,0.600,2017-03-10,It Began Without Warning,3.0,1
4015,"[18, 53]",58194,en,White Irish Drinkers,0.916,2011-03-25,White Irish Drinkers,6.3,11
11768,"[53, 878, 28]",275619,en,Age of Tomorrow,3.646,2014-06-10,Age of Tomorrow,2.9,39
22662,[16],451812,en,Meeting MacGuffin,0.840,2017-02-02,Meeting MacGuffin,9.5,2
2720,"[10749, 35]",70868,en,I Don't Know How She Does It,8.271,2011-09-16,I Don't Know How She Does It,5.2,231
22679,"[35, 28]",437563,en,The Robbery,0.840,2017-01-25,The Robbery,7.3,3
6544,[18],130774,en,Last Ounce of Courage,1.070,2012-09-14,Last Ounce of Courage,3.5,6

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.8+ MB

In [102]:
np.round(df.describe())

             id  popularity  vote_average  vote_count
count   26517.0     26517.0       26517.0     26517.0
mean   295050.0         3.0           6.0       194.0
std    153662.0         4.0           2.0       961.0
min        27.0         1.0           0.0         1.0
25%    157851.0         1.0           5.0         2.0
50%    309581.0         1.0           6.0         5.0
75%    419542.0         4.0           7.0        28.0
max    608444.0        81.0          10.0     22186.0

In [103]:
df.shape

(26517, 9)

In [104]:
df.isnull().any()

genre_ids            False
id                   False
original_language    False
original_title       False
popularity           False
release_date         False
title                False
vote_average         False
vote_count           False
dtype: bool

In [105]:
df.isnull().sum()

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [133]:
df_tn_movies = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\tn.movie_budgets.csv.gz')   
print (df_tn_movies)

      id  release_date                                        movie  \
0      1  Dec 18, 2009                                       Avatar
1      2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2      3   Jun 7, 2019                                 Dark Phoenix
3      4   May 1, 2015                      Avengers: Age of Ultron
4      5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
...   ..           ...                                          ...
5777  78  Dec 31, 2018                                       Red 11
5778  79   Apr 2, 1999                                    Following
5779  80  Jul 13, 2005                Return to the Land of Wonders
5780  81  Sep 29, 2015                         A Plague So Pleasant
5781  82   Aug 5, 2005                            My Date With Drew

     production_budget domestic_gross worldwide_gross
0         $425,000,000   $760,507,625  $2,776,345,279
1         $410,600,000   $241,063,875  $1,045,663,875
2         $350,000,000    $42,762,350    $149,762,350
3         $330,600,000   $459,005,868  $1,403,013,963
4         $317,000,000   $620,181,382  $1,316,721,747
...                ...            ...             ...
5777            $7,000             $0              $0
5778            $6,000        $48,482        $240,495
5779            $5,000         $1,338          $1,338
5780            $1,400             $0              $0
5781            $1,100       $181,041        $181,041

[5782 rows x 6 columns]

In [107]:
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [108]:
df.tail()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [109]:
df.sample(20)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
843,44,"Feb 7, 2014",The Lego Movie,"$60,000,000","$257,784,718","$457,729,388"
828,29,"Jun 24, 1994",Wyatt Earp,"$63,000,000","$25,052,000","$25,052,000"
1779,80,"Apr 23, 1999",Pushing Tin,"$33,000,000","$8,408,835","$8,408,835"
1160,61,"Oct 15, 2010",Hereafter,"$50,000,000","$32,746,941","$108,660,270"
2662,63,"Mar 14, 2003",Willard,"$20,000,000","$6,882,696","$6,882,696"
5140,41,"Dec 19, 2003",The Hebrew Hammer,"$1,300,000","$77,755","$90,213"
2154,55,"Mar 17, 2015",Accidental Love,"$26,000,000",$0,"$135,436"
2190,91,"Feb 10, 2006",Final Destination 3,"$25,000,000","$54,098,051","$112,798,051"
394,95,"Jul 23, 2004",Catwoman,"$100,000,000","$40,202,379","$82,145,379"
5412,13,"Oct 19, 2007",Arnolds Park,"$600,000","$23,616","$23,616"
1043,44,"Jul 30, 2004",Thunderbirds,"$55,000,000","$6,768,055","$28,231,444"
3123,24,"Apr 30, 1999",Idle Hands,"$15,000,000","$4,023,741","$4,023,741"
332,33,"Jul 31, 2013",The Smurfs 2,"$110,000,000","$71,017,784","$348,547,523"
4139,40,"Oct 21, 1988",Mystic Pizza,"$6,000,000","$12,793,213","$12,793,213"
5267,68,"Oct 19, 2007",Wristcutters: A Love Story,"$1,000,000","$446,165","$473,769"
346,47,"Nov 23, 2016",Allied,"$106,000,000","$40,098,064","$119,266,661"
1018,19,"Dec 22, 2004",The Phantom of the Opera,"$55,000,000","$51,225,796","$153,770,052"
4088,89,"Jan 1, 1980",Dressed to Kill,"$6,500,000","$31,899,000","$31,899,000"
863,64,"Mar 5, 2004",Starsky & Hutch,"$60,000,000","$88,200,225","$170,200,225"
219,20,"Mar 6, 2009",Watchmen,"$138,000,000","$107,509,799","$186,976,250"

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [111]:
np.round(df.describe())

           id
count  5782.0
mean     50.0
std      29.0
min       1.0
25%      25.0
50%      50.0
75%      75.0
max     100.0

In [112]:
df.shape

(5782, 6)

In [113]:
df.isnull().any()

id                   False
release_date         False
movie                False
production_budget    False
domestic_gross       False
worldwide_gross      False
dtype: bool

In [114]:
df.isnull().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [134]:
df_ratings = pd.read_csv (r'C:\Users\Lookupkim\Flatiron\phase_1\Microsoft-Movie-Analysis\data\zippedData\IMDb_ratings.csv.zip')   
df_ratings)

      imdb_title_id  weighted_average_vote  total_votes  mean_vote  \
0         tt0000009                    5.9          154        5.9
1         tt0000574                    6.1          589        6.3
2         tt0001892                    5.8          188        6.0
3         tt0002101                    5.2          446        5.3
4         tt0002130                    7.0         2237        6.9
...             ...                    ...          ...        ...
85850     tt9908390                    5.3          398        5.5
85851     tt9911196                    7.7          724        7.9
85852     tt9911774                    7.9          265        7.8
85853     tt9914286                    6.4          194        9.4
85854     tt9914942                    6.7          102        6.8

       median_vote  votes_10  votes_9  votes_8  votes_7  votes_6  ...  \
0              6.0        12        4       10       43       28  ...
1              6.0        57       18       58      137      139  ...
2              6.0         6        6       17       44       52  ...
3              5.0        15        8       16       62       98  ...
4              7.0       210      225      436      641      344  ...
...            ...       ...      ...      ...      ...      ...  ...
85850          6.0        13        9       26       65      104  ...
85851          8.0        65      139      288      170       42  ...
85852          8.0        63       29       61       61       31  ...
85853         10.0       176        0        2        2        1  ...
85854          7.0         4        4       21       35       27  ...

       females_30age_avg_vote  females_30age_votes  females_45age_avg_vote  \
0                         5.7                 13.0                     4.5
1                         6.2                 23.0                     6.6
2                         5.8                  4.0                     6.8
3                         5.5                 14.0                     6.1
4                         7.3                 82.0                     7.4
...                       ...                  ...                     ...
85850                     5.7                 11.0                     5.0
85851                     8.0                 47.0                     7.3
85852                     NaN                  NaN                     NaN
85853                     NaN                  NaN                     7.0
85854                     6.8                  4.0                     7.5

       females_45age_votes  top1000_voters_rating  top1000_voters_votes  \
0                      4.0                    5.7                  34.0
1                     14.0                    6.4                  66.0
2                      7.0                    5.4                  32.0
3                     21.0                    4.9                  57.0
4                     77.0                    6.9                 139.0
...                    ...                    ...                   ...
85850                  2.0                    5.5                  12.0
85851                 30.0                    7.0                   6.0
85852                  NaN                    1.0                   1.0
85853                  1.0                    4.0                   3.0
85854                  4.0                    7.0                   4.0

       us_voters_rating  us_voters_votes  non_us_voters_rating  \
0                   6.4             51.0                   6.0
1                   6.0             96.0                   6.2
2                   6.2             31.0                   5.9
3                   5.5            207.0                   4.7
4                   7.0            488.0                   7.0
...                 ...              ...                   ...
85850               6.3             22.0                   5.3
85851               6.8             13.0                   7.7
85852               NaN              NaN                   2.0
85853               1.7              5.0                   5.8
85854               6.7             13.0                   6.7

       non_us_voters_votes
0                     70.0
1                    331.0
2                    123.0
3                    105.0
4                   1166.0
...                    ...
85850                214.0
85851                388.0
85852                  2.0
85853                  5.0
85854                 60.0

[85855 rows x 49 columns]